---
import Button from '../components/Button.astro';
import Input from '../components/Input.astro';
import ClientReviews from '../components/ClientReviews.astro';
import Card from '../components/Card.astro';
import FoldableElement from '../components/FoldableElement.tsx';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import logo from "../assets/svgs/logo.svg"; 
import whatsapp from "../assets/svgs/whatsapp.svg"; 
import facebook from "../assets/svgs/facebook.svg"; 
import instagram from "../assets/svgs/instagram.svg"; 
import email from "../assets/svgs/email.svg"; 
import web from "../assets/svgs/web.svg"; 
import rotate3d from "../assets/svgs/rotate-3d.svg"; 
import relation from "../assets/images/relation.png"
import discover from "../assets/images/discover.png"
import about from "../assets/images/about.png"

import mangas from "../data/mangas"
---

<Layout title="Anbu Manga | Venta de Mangas en el Perú">
	<main>
    <section id="hero" class="bg-manga-pattern py-12 md:py-20 lg:py-40">
      <div class="grid lg:grid-cols-2 w-10/12 mx-auto text-white text-center lg:text-left">
        <div class="lg:mr-12 mb-4 lg:mb-0">
          <div class="flex flex-row items-center mb-2">
            <Image class="w-8 pr-2" src={logo} alt="Anbu Manga logo." />
            <p class="text-sm font-bold">Anbu Manga</p>
          </div>
          <h1 class="text-4xl lg:text-5xl">Explora la web donde tu destino manga te espera</h1>
          <p class="mt-2 font-bold text-lg">Compra calidad, compra en Anbu Manga</p>
          <p class="mt-8">Regístrate Ahora y Obtén un 10% de Descuento</p>
          <div class="flex text-center md:text-start flex-col md:flex-row mt-4 items-center md:items-start justify-center lg:justify-start">
            <Input placeholder="Escribe tu email"/>
            <div class="mt-4 md:mr-4 md:mt-0"></div>
            <Button text="Enviar" />
          </div>
        </div>
        <div class="lg:ml-12 text-center mt-8 lg:mt-0">
          <div class="bg-am-gray min-h-48 md:min-h-80 mb-4">
            VIDEO
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>
    </section>

    <section id="about" class="mt-10">
      <div class="grid grid-cols-1 xl:grid-cols-5 md:w-8/12 mx-4 md:mx-auto my-20">
        <div class="xl:col-start-1 xl:col-end-4 mb-6 xl:mb-0">
          <Image class="h-80 w-auto md:w-8/12 md:h-auto mx-auto" src={discover} alt="Imagen de hokage." />
        </div>
        <div class="xl:col-start-4 xl:col-end-6 place-self-center flex flex-col justify-center items-center">
          <div class="bg-am-red max-w-[440px] text-white rounded-l-2xl shadow-md shadow-black/40 px-8 py-12 text-center mx-2 mb-6">
            <p class="text-xl mb-4">Descubre y compra mangas de importación directa</p>
            <p>Explora nuestra selección exclusiva de manga importado directamente desde Japón. Encuentra los últimos lanzamientos y tus títulos favoritos con la calidad y autenticidad que mereces</p>
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>

      <div class="grid grid-cols-1 xl:grid-cols-3 w-10/12 md:w-8/12 mx-auto mb-10 gap-y-8 mt-12">
        <h2 class="flex xl:hidden text-am-red text-center mx-auto">¿Por qué Anbu Manga?</h2>
        <div>
          <Card title="Recomendaciones Personalizadas">
            <p class="pb-20">Descubre nuevas obras basadas en tus gustos y patrones de compra.</p>
          </Card>
        </div>
        <div>
          <h2 class="hidden xl:flex text-am-red text-center mb-10">¿Por qué Anbu Manga?</h2>
          <Card title="Realidad Aumentada">
            <Image class="h-28 w-auto mx-auto pb-10" src={rotate3d} alt="Imagen de rotacion 3d." />
          </Card>
        </div>
        <div>
          <Card title="Comunidad en Línea">
            <p class="pb-20">Conéctate con otros aficionados al manga y comparte tus experiencias.</p>
          </Card>
        </div>
      </div>
      <Image class="mx-auto w-9/12 lg:w-1/2 h-auto pr-2" src={about} alt="Imagen de seccion hacerca de Anbu Manga." />
    </section>

    <section id="relation" class="pt-12 md:pt-20 border-y-am-red border-y-4">
      <h2 class="text-center text-am-red mb-8 mx-4">Nuestra relación con el Cliente</h2>
      <div class="grid grid-cols-1 gap-y-8 xl:grid-cols-7 text-am-red place-items-center xl:w-3/5 mx-4 xl:mx-auto">
        <Image class="hidden xl:flex h-80 w-auto pr-2 xl:col-start-1 xl:col-end-4" src={relation} alt="Imagen de seccion de relacion." />
        <div class="place-self-center mx-auto xl:mb-16 xl:col-start-4 xl:col-end-6">
          <FoldableElement client:only="react" title="Atención Personalizada" content="Cada cliente recibe un servicio adaptado a sus necesidades específicas."  />
        </div>
        <div class="place-self-center mx-auto xl:mt-16 xl:col-start-6 xl:col-end-8">
          <FoldableElement client:only="react" title="Seguimiento Post-venta" content="Aseguramos tu satisfacción y escuchamos tus sugerencias."  />
        </div>
        <Image class="flex xl:hidden max-h-80 w-auto" src={relation} alt="Imagen de seccion de relacion." />
      </div>
    </section>

    <section id="mangas" class="py-12 md:py-20">
      <div class="text-center text-am-red pb-10 w-10/12 mx-auto">
        <h2>Los mangas más comprados</h2>
        <p class="max-w-80 mx-auto text-lg">Conoce el ranking de los 3 mangas más vendidos por nuestra tienda</p>
      </div>
      <div class="md:w-10/12 lg:w-8/12 mx-auto">
        <ul class="grid grid-cols-1 lg:grid-cols-3 place-items-center">
        {mangas.map((manga) => (
          <li>
            <div class="border-am-red border-[1.6px] rounded-xl w-52 p-4 text-center text-am-red my-4 lg:my-0">
              <Image class="h-52 pr-2 mx-auto mb-6" src={manga.src} alt={manga.alt} />
              <p class="font-extrabold mb-1">{manga.title}</p>
              <p class="text-sm mb-2">{manga.body}</p>
              <div class="bg-am-red text-white rounded-lg py-2 w-10/12 mx-auto text-center">{manga.price}</div>
            </div>
          </li>
        ))}
        </ul>
        <div class="grid grid-cols-1 md:grid-cols-3 mt-12 place-items-center">
          <div class="border-am-red border-[1.6px] rounded-2xl py-2 px-8 md:col-span-2 mx-4 md:mx-20 mb-8 md:mb-0">
            <p class="text-am-red text-center text-xl">¿Deseas adquirir alguno de estos mangas? </p>
            <p class="text-am-red text-center text-xl">No lo dudes y consigue el tuyo también </p>
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>
    </section>

    <section id="clients" class="py-12 md:pb-40">
      <h2 class="text-center text-am-red pb-8">Lo que Dicen Nuestros Clientes</h2>
      <ClientReviews />
    </section>

    <section id="contact">
      <div class="bg-am-red">
        <div class="bg-white w-full md:w-1/2 text-am-red mx-auto py-14 text-center px-4 md:px-10 lg:px-20">
          <h2>Compra Fácil y Rápido</h2>
          <p class="text-lg w-10/12 mx-auto mt-8">Usa nuestras redes sociales y página web para explorar y adquirir productos. Disfruta de recomendaciones personalizadas y experiencias de realidad aumentada</p>
          <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-4 lg:w-4/5 lg:mx-auto items-center lg:justify-between mt-8">
            <a href="#">
              <Image class="w-12" src={whatsapp} alt="Ir a WhatsApp." />
            </a>
            <a href="#">
              <Image class="w-12" src={facebook} alt="Ir a Facebook." />
            </a>
            <a href="#">
              <Image class="w-12" src={instagram} alt="Ir a Instagram." />
            </a>
            <a href="#">
              <Image class="w-12" src={email} alt="Ir a Correo." />
            </a>
            <a href="#">
              <Image class="w-12" src={web} alt="Ir a Website." />
            </a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 my-10 md:my-20 w-10/12 mx-auto">
        <div class="lg:mr-10 flex justify-center">
          <div class="w-10/12 text-center lg:text-start">
            <h2 class="text-am-red">¡No Esperes Más!</h2>
            <p class="mt-2">Únete a AnbuManga Hoy</p>
            <div class="flex flex-col md:flex-row mt-4 items-center md:items-start justify-center lg:justify-start">
              <Input placeholder="Escribe tu email"/>
              <div class="mt-4 md:mr-4 md:mt-0"></div>
              <Button text="Enviar" />
            </div>
          </div>
        </div>

        <div class="mt-10 lg:mt-0 lg:ml-10 flex justify-center">
          <div class="border-am-red border-[1.6px] rounded-2xl p-8 w-3/5">
            <p class="text-am-red text-center">Regístrate ahora y disfruta de un 10% de descuento en tu primera compra. ¡Descubre, colecciona y comparte tus mangas favoritos con AnbuManga!</p>
          </div>
        </div>
      </div>
      <div class="bg-am-red h-10">
      </div>
    </section>
	</main>
</Layout>

<style>
	h1 {
		line-height: 1.6;
		font-weight: 500;
	}
	h2 {
		font-size: 40px;
		font-weight: 500;
		line-height: 1.6;
	}
</style>
