---
import Button from '../components/Button.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import logo from "../assets/svgs/logo.svg"; 
import whatsapp from "../assets/svgs/whatsapp.svg"; 
import facebook from "../assets/svgs/facebook.svg"; 
import instagram from "../assets/svgs/instagram.svg"; 
import email from "../assets/svgs/email.svg"; 
import web from "../assets/svgs/web.svg"; 
---

<Layout title="Anbu Manga | Venta de Mangas en el Perú">
	<main>
    <section id="hero" class="bg-manga-pattern py-12 md:py-20 lg:py-40">
      <div class="grid lg:grid-cols-2 w-10/12 mx-auto text-white text-center lg:text-left">
        <div class="lg:mr-12 mb-4 lg:mb-0">
          <div class="flex flex-row items-center mb-2">
            <Image class="w-8 pr-2" src={logo} alt="Anbu Manga logo." />
            <p class="text-sm font-bold">Anbu Manga</p>
          </div>
          <h1 class="text-4xl lg:text-5xl">Explora la web donde tu destino manga te espera</h1>
          <p class="mt-2 font-bold text-lg">Compra calidad, compra en Anbu Manga</p>
          <p class="mt-8">Regístrate Ahora y Obtén un 10% de Descuento</p>
          <div class="flex flex-col md:flex-row mt-4 items-center md:items-start justify-center lg:justify-start">
            <Input placeholder="Escribe tu email"/>
            <div class="mt-4 md:mr-4 md:mt-0"></div>
            <Button text="Enviar" />
          </div>
        </div>
        <div class="lg:ml-12 text-center mt-8 lg:mt-0">
          <div class="bg-am-gray min-h-48 md:min-h-80 mb-4">
            VIDEO
          </div>
          <Button text="Comprar ahora"/>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="bg-am-red">
        <div class="bg-white w-1/2 text-am-red mx-auto py-14 text-center px-20">
          <h2>Compra Fácil y Rápido</h2>
          <p class="text-lg w-10/12 mx-auto mt-8">Usa nuestras redes sociales y página web para explorar y adquirir productos. Disfruta de recomendaciones personalizadas y experiencias de realidad aumentada</p>
          <div class="flex space-x-6 w-4/5 mx-auto justify-between mt-8">
            <a href="#">
              <Image class="w-12" src={whatsapp} alt="Ir a WhatsApp." />
            </a>
            <a href="#">
              <Image class="w-12" src={facebook} alt="Ir a Facebook." />
            </a>
            <a href="#">
              <Image class="w-12" src={instagram} alt="Ir a Instagram." />
            </a>
            <a href="#">
              <Image class="w-12" src={email} alt="Ir a Correo." />
            </a>
            <a href="#">
              <Image class="w-12" src={web} alt="Ir a Website." />
            </a>
          </div>
        </div>
      </div>

    </section>
	</main>
</Layout>

<style>
	h1 {
		line-height: 1.6;
		font-weight: 500;
	}
	h2 {
		font-size: 40px;
		font-weight: 500;
		line-height: 1.6;
    color: "#9A1C1F";
	}
</style>
