---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	body: string;
  price: string;
	src: any;
  alt: string;
}

const { title, body, price, src, alt } = Astro.props;
---

<li>
  <div class="border-am-red border-2 rounded-xl">
    <Image class="w-40 pr-2 mx-auto lg:mx-0 mb-4 lg:mb-0" src={src} alt={alt} />
    <p>{title}</p>
    <p>{body}</p>
    <div class="bg-am-red text-white rounded-xl text-center">{price}</div>
  </div>
</li>
