---
import { Image } from 'astro:assets';
import client1 from "../assets/images/client1.png"; 
import client2 from "../assets/images/client2.png"; 
import client3 from "../assets/images/client3.png"; 

const clients = [
  {
    src: client1,
    alt: "Client 1 - Juanito.",
    name: "Juanito Perez",
    quote: "Me encanta cómo AnbuManga recomienda nuevos mangas basados en mis gustos y preferencias. ¡Siempre descubro algo nuevo!"
  },
  {
    src: client2,
    alt: "Cliente 2 - Maria.",
    name: "Maria Garcia",
    quote: "AnbuManga es mi tienda favorita para descubrir nuevas historias y personajes. ¡Es genial que siempre tengan lo más actual para leer!"
  },
  {
    src: client3,
    alt: "Cliente 3 - Pedro.",
    name: "Pedro Martinez",
    quote: "Los recomendaciones de AnbuManga siempre están en punto. He descubierto tantos mangas increíbles gracias a ellos."
  }
];
---

<div class="slideshow-container w-[70%] sm:w-[65%] md:w-[60%] lg:w-[50%] xl:w-[40%] 2xl:w-[32%]">
  <div class="mySlides fade">
    <div class="bg-am-red rounded-2xl py-12 px-14 grid grid-cols-1 lg:grid-cols-2">
      <div class="flex items-center">
        <Image class="w-40 pr-2 mx-auto lg:mx-0 mb-4 lg:mb-0" src={clients[0].src} alt={clients[0].alt} />
      </div>
      <div class="text-white text-center">
        <p class="mb-4 text-2xl">{clients[0].name}</p>
        <p class="">{clients[0].quote}</p>
      </div>
    </div>
  </div>
  <div class="mySlides fade">
    <div class="bg-am-red rounded-2xl py-12 px-14 grid grid-cols-1 lg:grid-cols-2">
      <div class="flex items-center">
        <Image class="w-40 pr-2 mx-auto lg:mx-0 mb-4 lg:mb-0" src={clients[1].src} alt={clients[1].alt} />
      </div>
      <div class="text-white text-center">
        <p class="mb-4 text-2xl">{clients[1].name}</p>
        <p class="">{clients[1].quote}</p>
      </div>
    </div>
  </div>
  <div class="mySlides fade">
    <div class="bg-am-red rounded-2xl py-12 px-14 grid grid-cols-1 lg:grid-cols-2">
      <div class="flex items-center">
        <Image class="w-40 pr-2 mx-auto lg:mx-0 mb-4 lg:mb-0" src={clients[2].src} alt={clients[2].alt} />
      </div>
      <div class="text-white text-center">
        <p class="mb-4 text-2xl">{clients[2].name}</p>
        <p class="">{clients[2].quote}</p>
      </div>
    </div>
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<style>
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif; margin:0;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #9A1C1F;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: -3rem;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: -3rem;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  .dot {
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}
</style>

<script is:inline>
var slideIndex = 1;

showSlides(slideIndex);

function plusSlides(n) {
    showSlides(slideIndex += n);
}

function currentSlide(n) {
    showSlides(slideIndex = n);
}

function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
}

</script>
